{
	"images": ["{{{name}}}.png"],
	"frames": [
		{{#files}}
			[{{x}}, {{y}}, {{width}}, {{height}}]{{^isLast}},{{/isLast}}
		{{/files}}
	],
	"animations": {
		{{#files}}
				"{{{name}}}":[{{index}}]{{^isLast}},{{/isLast}}
		{{/files}}
	},
	"meta":{
		"app": "https://github.com/kevinchen2046/spritesheet-game"
	}
}
